
.par
{
font-family:'Roboto', sans-serif;
font-size: 16px;
color: #c1d5db;
text-align: center;
font-style: normal;
font-weight: bold;
margin-top: 40px;
}
.lien:focus 
{
    background: #c1d5db;
    color: white;
    border-radius: 20px;
}
.lien:hover
{
    color:red;
    text-decoration: red;
}
.hed
{
    font-family:'Roboto', sans-serif;
    font-size: 32px;
    color: #658da7;
    text-align: center;
    font-style: normal;
    font-weight: bold;  
    margin-top: 10px;
}
.ligne
{
    background-color: #c1d5db;
    margin: 20px auto;
    width: 25%;
    height: 3px;
    border: none;
}
.ab
{
    font-family:'Roboto', sans-serif;
    font-size: 24px;
    color: #6F6E6E;
    text-align: center;
    font-style: normal;
    font-weight: lighter; 
 
}
.list {
    list-style-type: none;
    text-decoration: none;
    margin-left: 150px;
    margin-bottom: 40px;
  }
 .list1{
    float: left;
 
  }
.list a {
   
    padding: 30px;
    margin-left: 110px;
    text-decoration: none;
    color: #658da7;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold; 
    margin-bottom: 40px;
}

.flex-container
{
    display: flex;
    margin-top:80px;
 flex-flow: row wrap;
 justify-content: flex-start;
 margin-left: 10%;
}
.b
{
    width: 30%;
    margin-top: 5%;
}
.b:hover
{
    opacity: 0.3;
}
