* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #C1D5DB;
}

.container {
    width: 90%;
    margin-left: 5%;
}

.line {
    background-color: #776f6f;
    margin: 20px auto;
    margin-top: 5%;
    width: 100%;
    height: 8px;
    border: none;
}


/*////////////////////////////////////Start header//////////////////////////////////////////////*/

header {
    height: 100vh;
    animation: slide 10s infinite normal;
    background-image: url(img/background.png);
}

header .container {
    padding-top: 1.5%;
    display: inline-flex;
}

@keyframes slide {
    0% {
        background-image: url(img/background.png);
    }
    50% {
        background-image: url(img/footer-bg.jpg);
    }
    100% {
        background-image: url(img/bg2.jfif);
        background-size: cover;
    }
}

header img {
    width: 8%;
    height: 8%;
}

header nav {
    width: 100%;
}

Header nav ul {
    margin-top: 2%;
    font-size: 2em;
    font-weight: bold;
    text-align: right;
}

header nav ul a {
    padding-top: 3%;
}

Header nav ul :hover {
    text-decoration: none;
    color: azure;
}

h1 {
    padding-left: 3em;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 5em;
    padding-top: 1.7em;
}

a.button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
    width: 13em;
    margin-top: 7.5em;
    margin-left: 32em;
    font-size: 2em;
}

a.button:hover {
    background-color: #4095c6;
}

@media all and (max-width:30em) {
    a.button {
        display: block;
        margin: 0.2em auto;
    }
}


/*///////////////////////////////////////////End header///////////////////////////////////*/


/*///////////////////////////////////////////start section services //////////////////////*/

h2 {
    font-family: 'Roboto';
    font-size: 44px;
    color: #658da7;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 3%;
}

.ligne {
    background-color: #c1d5db;
    margin: 20px auto;
    width: 25%;
    height: 3px;
    border: none;
}

.text {
    font-family: ver;
    font-size: 2.5em;
    text-align: center;
    color: #6f6E6E;
    margin-top: 2em;
    line-height: 2em;
    font-style: oblique;
}

.service-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 4em;
}

.service-mission {
    padding: 60px;
    display: inline-block;
    width: 28%;
}

.job-titel {
    font-family: 'roboto';
    font-size: 2em;
    font-weight: bolder;
    color: #6f6E6E;
    margin-top: 0.5em;
}

.job-description {
    color: #6E6F6F;
    margin-top: 1em;
    font-size: 1.5em;
    max-width: 100%;
    margin-bottom: 1em;
}

.job-image {
    border-radius: 50%;
    width: 50%;
    height: auto;
    transition: width 2S;
    transition-timing-function: ease;
}

.job-image:hover {
    width: 90%;
}

.job-lien {
    text-decoration: none;
    color: #658da7;
    font-size: 1.5em;
}

.service-presentation {
    display: flex;
    width: 100%;
    margin-top: 3%;
}

h3 {
    font-size: 3em;
    color: black;
    font-weight: bolder;
    margin-left: 20%;
}

.text1 {
    font-family: 'roboto';
    font-size: 2.5em;
    color: #6f6E6E;
    margin-top: 1%;
}

.service-btn {
    margin-left: 35%;
    margin-top: 1%;
    background-color: #658da7;
    border-radius: 30px;
    width: 12em;
    height: 3em;
    font-size: 2em;
    font-weight: bolder;
}

.service-btn:hover {
    width: 13em;
    background-color: #658da7;
    color: white;
}

.service-img {
    width: 95vh;
}


/*////////////////////////////////////////// End services//////////////////////////////////////////*/


/*////////////////////////////////////////// Start portefolio/////////////////////////////////////////*/

.porteforio-menu {
    list-style-type: none;
    text-decoration: none;
    font-size: 3em;
    margin-left: 17%;
    margin-top: 2%;
}

.list1 {
    display: inline-block;
}

#realisation li {
    display: inline;
}

.lien:focus {
    background: #c1d5db;
    color: white;
    border-radius: 20px;
}

.lien:hover {
    color: lightskyblue;
    text-decoration: blue;
}

.flex-portefolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.b {
    width: 33%;
    height: 30%;
    margin-top: 5%;
}

.b:hover {
    opacity: 0.3;
}


/*////////////////////////////////////////// End portefolio/////////////////////////////////////////*/


/*////////////////////////////////////////// Start equipe/////////////////////////////////////////*/

.equipe-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 10%;
}

.equipe-img img {
    max-width: 100%;
    transition-duration: 1s;
    border-radius: 50%;
    margin-top: 5%;
}

.equipe-img img:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.Name-profil {
    height: 5em;
    width: 28em;
    margin-top: 5%;
    display: block;
    padding: 5px;
}

.my-name {
    font-size: 2.8em;
    margin-left: 10px;
    margin-top: -10px;
    color: #595959;
    text-align: center;
}

.profil {
    font-size: 3em;
    /* margin-left: 10px; */
    color: #9E9F9F;
    text-align: center;
}


/*////////////////////////////////////////// End section portefolio/////////////////////////////////////////*/


/*////////////////////////////////////////// Start sectio clients/////////////////////////////////////////*/

.client-container {
    height: 50vh;
}

.client-container h2 {
    margin-top: 3em;
}

.image-clients {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 2%;
}

.image-clients img:hover {
    width: 35vh;
}


/*////////////////////////////////////////// End section clients/////////////////////////////////////////*/


/*////////////////////////////////////////// Start section testimonial/////////////////////////////////////////*/

.temoin-flex {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    grid-gap: 10px;
}

.text2 {
    height: 30%;
    font-size: 1.5em;
    color: #6f6E6E;
    line-height: 40px;
    text-align: center;
    display: inline-block;
}

.name {
    display: inline-block;
    width: 100%;
}

.name img {
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    width: 90%;
    height: auto;
    margin-left: 3em;
    margin-top: 3em;
}

.name div {
    font-size: 3.5em;
    color: #6f6E6E;
    text-align: center;
}

.card-pricing {
    width: 100%;
    display: inline-block;
    margin-bottom: 5em;
    perspective: 100px;
}

.flex-table {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
}

.table-pricing {
    border: 2px solid #658da7;
    width: 26%;
    height: 70%;
    margin-top: 40px;
    text-align: center;
    box-shadow: 5px 5px #6f6E6E;
    border-radius: 3vh;
    animation: animation1 6s infinite normal;
}

@keyframes animation1 {
    0% {
        background-color: white;
        color: #658da7;
    }
    25% {
        background-color: #C1D5DB;
        color: #658da7;
    }
    75% {
        background-color: #658da7;
    }
    100% {
        background-color: #c1d5dB;
    }
}

.packname-pricing {
    text-align: center;
    font-size: 2.3em;
    color: black;
    font-style: oblique;
    height: 30%;
    margin-top: 1em;
    margin-bottom: 20px;
}

.prix1-pricing {
    text-align: center;
    font-size: 2em;
    color: white;
    background-color: rgb(101, 141, 167);
    line-height: 40px;
    margin-top: 20px;
}

.offre-pricing {
    text-align: center;
    list-style-type: none;
    margin: 3em 2em;
    font-weight: bold;
    font-size: 2em;
    line-height: 2em;
}

.btn-pricing {
    width: 9em;
    height: 2em;
    font-size: 2em;
    color: white;
    background-color: #658da7;
    margin-bottom: 3em;
    border-radius: 50px;
    border: none
}

.detail:hover {
    background-color: #c1d5dB;
    color: black;
}


/*////////////////////////////////////////// End section testimonial /////////////////////////////////////////*/


/*/ //////////////////////////////////////////// Start footer///////////////////////////////////////////////*/

.sponsors {
    display: inline-block;
    background-color: #C1D5DB;
}

.sponsors img {
    margin-top: 1em;
    margin-bottom: 4em;
    margin-left: 5em;
    transition-duration: 0.6s;
    width: 10%;
    height: 10%;
}

.sponsors img:hover {
    border-radius: 60px;
    transform: scale(1.3);
    box-shadow: 5px 10px #888888;
}

.section2-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1%;
    background-image: url(img/background.png);
}

.section2-footer article {
    padding: 1rem;
    width: 33%;
}

.section2-footer h4 {
    font-size: 2.3em;
    color: #658da7;
    margin-top: 1em;
    margin-left: 5%;
}

.discription {
    width: 460px;
    text-align: justify;
    font-size: 1.9em;
    color: white;
    margin-top: 1em;
    line-height: 60px;
    margin-left: 5%;
}

.contact-footer {
    width: 460px;
    margin-left: 2em;
}

.contact-footer h4 {
    font-size: 2.3em;
    color: #658da7;
    margin-top: 1em;
    margin-left: 3%;
}

.contact-footer input {
    margin-top: 1em;
    border-radius: 30px;
    border: 2px black solid;
    opacity: 0.6;
    font-size: 2.5em;
    width: 10em;
    height: 1.7em;
    text-align: justify;
}

.contact-footer input[type="button"] {
    background-color: rgb(14, 2, 31);
    width: 6em;
    border-radius: 20px;
    color: white;
}

.contact-footer input[type="button"]:hover {
    box-shadow: 0px 0px #000000;
    transform: scale(1.05);
    opacity: 1;
}

.contact-footer input[type="text-area"] {
    height: 3.5em;
}

.contact-footer input[type="button"] {
    text-align: center;
}

.social-footer {
    display: inline;
}

.social-footer h3 {
    font-size: 2.3em;
    color: #658da7;
    margin-top: 1em;
    margin-left: 5%;
}

.social-footer p {
    color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8em;
}

.social-footer img,
p,
a {
    margin-top: 1em;
    margin-left: 5%;
    line-height: 60px;
}

.social-footer>div {
    display: flex;
    transition-duration: 0.6s;
    margin-top: 1em;
}

.social-footer div:hover {
    transform: scale(1.3);
    text-decoration: none;
}

.a3 {
    margin: 0em;
}

footer iframe {
    width: 460px;
    margin-top: 1em;
    height: 600px;
}

.copyright {
    background-color: #424258;
    color: whitesmoke;
    height: 3em;
}

.copyright>div {
    margin-left: 4em;
    margin-bottom: 1em;
    line-height: 40px;
}